<widget id="com.example.hello" version="0.0.1">
        <name>Euros</name>
        <description>
            swap eruros piching
        </description>
        <author email="zoolookie@gmail.com" href="http://www.gmail.com">
            Zoolookie
        </author>
        <content src="index.html" />
        <access origin="*" />
		<preference name="Fullscreen" value="true" />
		<preference name="Orientation" value="landscape" />
		<preference name="DisallowOverscroll" value="true"/>
</widget>